.idea
.gradle
*.jks
lib-*.aar
*build
/media*
/Release
/local.properties
*.keystore
*.log
*.zip
seg_*.png
*.apk


/akdanmaku/
/danmaku-src/
/danmaku4/
/dlna-src/
fongmi_repos.json
m3meta.xml
rel.json
tags.json
rename.ps1

